In [1]:
# import dependencies
import pandas as pd
import numpy as np
import os
import warnings
warnings.filterwarnings('ignore')

In [5]:
# locate file
fantasy_df = pd.read_csv("Resources/purchase_data.csv")
fantasy_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
#display the total number of players
total_players = fantasy_df['SN'].nunique()
print(f'Total Players: {total_players}')

Total Players: 576

- Run basic calculations to obtain number of unique items, average price, etc.
- Create a summary data frame to hold the results
- Optional: give the displayed data cleaner formatting
- Display the summary data frame

In [12]:
# Calculate the required values
unique_items = fantasy_df["Item ID"].nunique()
average_price = fantasy_df["Price"].mean()
total_purchases = fantasy_df["Price"].count()
total_revenue = fantasy_df["Price"].sum()

# Create a dictionary with the calculated values
purchasing_data = {
    "Number of Unique Items": [unique_items],
    "Average Price": [average_price],
    "Number of Purchases": [total_purchases],
    "Total Revenue": [total_revenue]
}

# Create a DataFrame from the dictionary
purchasing_analysis = pd.DataFrame(purchasing_data)

# Format the DataFrame
format_dict = {
    "Average Price": "${0:,.2f}",
    "Total Revenue": "${0:,.2f}"
}
purchasing_analysis_style = purchasing_analysis.style.format(format_dict).hide_index()

# Display the formatted DataFrame
purchasing_analysis_style

In [10]:
    unique_items2 = fantasy_df["Item ID"].nunique()
unique_items2

179

In [13]:
# Drop duplicates based on "SN" column and create a new DataFrame
players_count = fantasy_df.drop_duplicates(subset=["SN"]).copy()

# Initialize columns with NaN values and fill them with appropriate values
players_count["Total"] = 1
players_count["Part of Total"] = 1

# Get the total number of rows in the players_count DataFrame
total_rows = len(players_count)

# Group the players_count DataFrame by "Gender" and count the occurrences
players_count2 = players_count.groupby("Gender").count()

# Calculate the percentage of players for each gender
players_count2["Percent of Players"] = (players_count2["Part of Total"] / total_rows) * 100

# Rearrange and format the columns of the players_count2 DataFrame
players_count2 = players_count2[["Total", "Percent of Players"]].sort_values(by="Total", ascending=False)
players_count2.style.format({"Percent of Players": "{:.2f}%"})

In [ ]:
players_count = fantasy_df.drop_duplicates(subset=["SN"])
players_count["Total"] = pd.NaT
players_count["Part of Total"] = pd.NaT
players_count["Total"] = players_count["Total"].fillna(1)
players_count["Part of Total"] = players_count["Part of Total"].fillna(1)

total_rows = len(players_count)

players_count2 = players_count.groupby("Gender").count()

players_count3 = (players_count2["Part of Total"] / total_rows) * 100

players_count2["Percent of Players"] = players_count3
players_count2 = players_count2[["Total", "Percent of Players"
                                 ]].sort_values(by="Total", ascending=False)
players_count2.style.format("{:.2f}%", subset="Percent of Players")

In [14]:
# Define the formatting dictionary
format_dict2 = {
    "Average Purchase Price": "${0:,.2f}",
    "Total Purchase Value": "${0:,.2f}",
    "Avg Total Purchase per Person": "${0:,.2f}",
}

# Create a new DataFrame to avoid modifying the original DataFrame
fantasy_df_new = fantasy_df.copy()

# Group the DataFrame by "Gender"
fantasy_df_grouped = fantasy_df_new.groupby("Gender")

# Calculate purchase count, average purchase price, and total purchase value
purchase_count = fantasy_df_grouped[["SN"]].count()
average_purchase_price = fantasy_df_grouped[["Price"]].mean()
total_purchase_price = fantasy_df_grouped[["Price"]].sum()

# Merge the calculated values into a single DataFrame
fantasy_df_merged = pd.merge(purchase_count, average_purchase_price, on="Gender")
fantasy_df_merged = pd.merge(fantasy_df_merged, total_purchase_price, on="Gender")

# Calculate the average total purchase per person
avg_total_purchase_per_person = fantasy_df_merged["Price_y"] / players_count2["Total"]

# Add the calculated column to the DataFrame
fantasy_df_merged["Avg Total Purchase per Person"] = avg_total_purchase_per_person

# Rename the columns
fantasy_df_renamed = fantasy_df_merged.rename(columns={
    "SN": "Purchase Count",
    "Price_x": "Average Purchase Price",
    "Price_y": "Total Purchase Value"
})

# Apply formatting to the DataFrame
fantasy_df_formatted = fantasy_df_renamed.style.format(format_dict2)

# Display the formatted DataFrame
fantasy_df_formatted

In [17]:
# Define the formatting dictionary
format_dict3 = {"Percentage of Players": "{0:,.2f}%"}

# Create a new DataFrame to avoid modifying the original DataFrame
total_players2 = fantasy_df.drop_duplicates(subset="SN").copy()

# Create bins and labels for age groups
bins = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 50]
labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Categorize the age groups using the "Age" column
total_players2["Age Group"] = pd.cut(total_players2["Age"], bins=bins, labels=labels, include_lowest=True)

# Group the DataFrame by age group and count the occurrences
total_players3 = total_players2.groupby("Age Group").count()

# Calculate the percentage of players for each age group
total_players3["Percentage of Players"] = (total_players3["Age"] / total_players3["Age"].sum()) * 100

# Rename the "Age" column to "Total Count"
total_players3 = total_players3.rename(columns={"Age": "Total Count"})

# Apply formatting to the DataFrame
total_players4 = total_players3[["Total Count", "Percentage of Players"]].style.format(format_dict3)

# Display the formatted DataFrame
total_players4

In [21]:
# Create a new DataFrame to avoid modifying the original DataFrame
total_players5 = fantasy_df.copy()

# Create bins and labels for age groups
bins = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 50]
labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Categorize the age groups using the "Age" column
total_players5["Age Group"] = pd.cut(total_players5["Age"], bins=bins, labels=labels, include_lowest=True)

# Group the DataFrame by age group
total_players_grouped = total_players5.groupby("Age Group")

# Calculate purchase count, total purchase value, average purchase price, and average total purchase per person
purchase_count = total_players_grouped[["Age"]].count()
total_purchase_value = total_players_grouped[["Price"]].sum()
average_purchase_price = total_players_grouped[["Price"]].mean()
average_total_ppp = total_purchase_value["Price"] / total_players3["Total Count"]

# Add the calculated columns to the purchase_count DataFrame
purchase_count["Average Purchase Price"] = average_purchase_price["Price"]
purchase_count["Total Purchase Value"] = total_purchase_value["Price"]
purchase_count["Avg Total Purchase per Person"] = average_total_ppp

# Rename the columns
purchase_count = purchase_count.rename(columns={"Age": "Purchase Count"})

# Apply formatting to the DataFrame
purchase_count_formatted = purchase_count.style.format(format_dict2)

# Display the formatted DataFrame
purchase_count_formatted

In [22]:
# Create a new DataFrame to avoid modifying the original DataFrame
total_players6 = fantasy_df.copy()

# Group the DataFrame by "SN" (player)
total_players_grouped = total_players6.groupby("SN")

# Calculate purchase count, total purchase value, and average purchase price for each player
purchase_count2 = total_players_grouped[["Age"]].count()
total_purchase_value2 = total_players_grouped[["Price"]].sum()
average_purchase_price_2 = total_players_grouped[["Price"]].mean()

# Add the calculated columns to the purchase_count2 DataFrame
purchase_count2["Average Purchase Price"] = average_purchase_price_2["Price"]
purchase_count2["Total Purchase Value"] = total_purchase_value2["Price"]

# Sort the DataFrame by "Total Purchase Value" in descending order
purchase_count2 = purchase_count2.sort_values(by="Total Purchase Value", ascending=False)

# Select the top 5 players with the highest total purchase value
purchase_count2 = purchase_count2.head(5)

# Rename the columns
purchase_count2 = purchase_count2.rename(columns={"Age": "Purchase Count"})

# Apply formatting to the DataFrame
purchase_count2_formatted = purchase_count2.style.format(format_dict2)

# Display the formatted DataFrame
purchase_count2_formatted

In [23]:
# Create a new DataFrame to avoid modifying the original DataFrame
total_players7 = fantasy_df.copy()

# Group the DataFrame by "Item ID" and "Item Name"
total_players_grouped = total_players7.groupby(["Item ID", "Item Name"])

# Calculate purchase count, total purchase value, and average purchase price for each item
purchase_count3 = total_players_grouped[["Age"]].count()
total_purchase_value3 = total_players_grouped[["Price"]].sum()
average_purchase_price_4 = total_players_grouped[["Price"]].mean()

# Add the calculated columns to the purchase_count3 DataFrame
purchase_count3["Average Purchase Price"] = average_purchase_price_4["Price"]
purchase_count3["Total Purchase Value"] = total_purchase_value3["Price"]

# Sort the DataFrame by "Purchase Count" in descending order
purchase_count3 = purchase_count3.sort_values(by="Age", ascending=False)

# Select the top 5 items with the highest purchase count
purchase_count3 = purchase_count3.head(5)

# Rename the columns
purchase_count3 = purchase_count3.rename(columns={"Age": "Purchase Count"})

# Apply formatting to the DataFrame
purchase_count3_formatted = purchase_count3.style.format(format_dict2)

# Display the formatted DataFrame
purchase_count3_formatted

In [24]:
# Create a new DataFrame to avoid modifying the original DataFrame
total_players8 = fantasy_df.copy()

# Group the DataFrame by "Item ID" and "Item Name"
total_players_grouped = total_players8.groupby(["Item ID", "Item Name"])

# Calculate purchase count, total purchase value, and average purchase price for each item
purchase_count4 = total_players_grouped[["Age"]].count()
total_purchase_value4 = total_players_grouped[["Price"]].sum()
average_purchase_price_5 = total_players_grouped[["Price"]].mean()

# Add the calculated columns to the purchase_count4 DataFrame
purchase_count4["Average Purchase Price"] = average_purchase_price_5["Price"]
purchase_count4["Total Purchase Value"] = total_purchase_value4["Price"]

# Sort the DataFrame by "Total Purchase Value" in descending order
purchase_count4 = purchase_count4.sort_values(by="Total Purchase Value", ascending=False)

# Select the top 5 items with the highest total purchase value
purchase_count4 = purchase_count4.head(5)

# Rename the columns
purchase_count4 = purchase_count4.rename(columns={"Age": "Purchase Count"})

# Apply formatting to the DataFrame
purchase_count4_formatted = purchase_count4.style.format(format_dict2)

# Display the formatted DataFrame
purchase_count4_formatted