In [1]:
# import dependencies
import pandas as pd
import numpy as np
import os
import warnings
warnings.filterwarnings('ignore')

In [2]:
# locate file
fantasy_df = pd.read_csv("Resources/purchase_data.csv")

In [3]:
# !cd

In [16]:
#preview data
# fantasy_df.head(2)
# fantasy_df.info()

In [5]:
#display the total number of players
total_players = pd.Series(fantasy_df["SN"])
total_players = total_players.unique()
total_players = len(total_players)
total_number_of_players = pd.DataFrame({"Total Players": [total_players]})
total_number_of_players.style.hide_index()

In [6]:
# Run basic calculations to obtain number of unique items, average price, etc.
# Create a summary data frame to hold the results
# Optional: give the displayed data cleaner formatting
# Display the summary data frame

In [7]:
unique_items2 = fantasy_df.value_counts("Item ID").count()
average_price = fantasy_df["Price"].mean()
total_purchases = fantasy_df["Price"].count()
total_revenue = fantasy_df["Price"].sum()

purchasing_analysis = pd.DataFrame({
    "Number of Unique Items": [unique_items2],
    "Average Price": [average_price],
    "Number of Purchases": [total_purchases],
    "Total Revenue": [total_revenue]
})

format_dict = {"Average Price": "${0:,.2f}", "Total Revenue": "${0:,.2f}"}
purchasing_analysis_style = purchasing_analysis[[
    "Average Price", "Total Revenue"
]].style.format("${0:,.2f}")
purchasing_analysis.style.format(format_dict).hide_index()

In [8]:
players_count = fantasy_df.drop_duplicates(subset=["SN"])
players_count["Total"] = pd.NaT
players_count["Part of Total"] = pd.NaT
players_count["Total"] = players_count["Total"].fillna(1)
players_count["Part of Total"] = players_count["Part of Total"].fillna(1)
total_rows = len(players_count)
players_count2 = players_count.groupby("Gender").count()
players_count3 = (players_count2["Part of Total"] / total_rows) * 100
players_count2["Percent of Players"] = players_count3
players_count2 = players_count2[["Total", "Percent of Players"
                                 ]].sort_values(by="Total", ascending=False)
players_count2.style.format("{:.2f}%", subset="Percent of Players")

In [9]:
format_dict2 = {
    "Average Purchase Price": "${0:,.2f}",
    "Total Purchase Value": "${0:,.2f}",
    "Avg Total Purchase per Person": "${0:,.2f}",
}
fantasy_df_new = fantasy_df
fantasy_df_new = fantasy_df_new.groupby("Gender")
purchase_count = fantasy_df_new[["SN"]].count()
average_purchase_price = fantasy_df_new[["Price"]]
average_purchase_price = average_purchase_price.mean()
total_purchase_price = fantasy_df_new[["Price"]].sum()
fantasy_df2 = pd.merge(purchase_count, average_purchase_price, on="Gender")
fantasy_df2 = pd.merge(fantasy_df2, total_purchase_price, on="Gender")
fantasy_df3 = fantasy_df2["Price_y"] / players_count2["Total"]
fantasy_df2["Avg Total Purchase per Person"] = fantasy_df3
fantasy_df2 = fantasy_df2.rename(
    columns={
        "SN": "Purchase Count",
        "Price_x": "Average Purchase Price",
        "Price_y": "Total Purchase Value"
    })
fantasy_df2 = fantasy_df2.style.format(format_dict2)
fantasy_df2

In [10]:
# print(fantasy_df['Age'].max())
# print(fantasy_df['Age'].min())

In [11]:
format_dict3 = {"Percentage of Players": "{0:,.2f}%"}
bins = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 50]
index = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
total_players2 = fantasy_df.drop_duplicates(subset="SN")
total_players2[""] = pd.cut(total_players2["Age"],
                            bins=bins,
                            labels=index,
                            include_lowest=True)
total_players3 = total_players2.groupby(by="").count()
total_players3["Percentage of Players"] = (total_players3[["Age"]] /
                                           total_players3[["Age"]].sum()) * 100
total_players3 = total_players3.rename(columns={"Age": "Total Count"})
total_players4 = total_players3[["Total Count", "Percentage of Players"
                                 ]].style.format(format_dict3)
total_players4

In [12]:
total_players5 = fantasy_df
bins = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 50]
index = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
total_players5[""] = pd.cut(fantasy_df["Age"],
                            bins=bins,
                            labels=index,
                            include_lowest=True)
total_players5 = total_players5.groupby(by="")
purchase_count = total_players5[["Age"]].count()
total_purchase_value = total_players5.sum()
total_purchase_value = total_purchase_value[["Price"]]
average_purchace_price_2 = total_players5.mean()
average_purchace_price_2 = average_purchace_price_2[["Price"]]
average_total_ppp = total_purchase_value["Price"] / total_players3["SN"]
purchase_count["Average Purchase Price"] = average_purchace_price_2
purchase_count["Total Purchase Value"] = total_purchase_value
purchase_count["Avg Total Purchase per Person"] = average_total_ppp
purchase_count = purchase_count.rename(columns={"Age": "Purchase Count"})
purchase_count = purchase_count.style.format(format_dict2)
purchase_count

In [13]:
total_players6 = fantasy_df
total_players6 = total_players6.groupby(by="SN")
purchase_count2 = total_players6[["Age"]].count()
total_purchase_value2 = total_players6.sum()
total_purchase_value2 = total_purchase_value2[["Price"]]
average_purchace_price_2 = total_players6.mean()
average_purchace_price_3 = average_purchace_price_2[["Price"]]
purchase_count2["Average Purchase Price"] = average_purchace_price_3
purchase_count2["Total Purchase Value"] = total_purchase_value2
purchase_count2 = purchase_count2.sort_values(by="Total Purchase Value",
                                              ascending=False)
purchase_count2 = purchase_count2.head(5)
purchase_count2 = purchase_count2.rename(columns={"Age": "Purchase Count"})
purchase_count2 = purchase_count2.style.format(format_dict2)
purchase_count2

In [14]:
total_players7 = fantasy_df
total_players7 = total_players7.groupby(by=["Item ID", "Item Name"])
purchase_count3 = total_players7[["Age"]].count()
total_purchase_value3 = total_players7.sum()
total_purchase_value3 = total_purchase_value3[["Price"]]
average_purchace_price_4 = total_players7.mean()
average_purchace_price_4 = average_purchace_price_4[["Price"]]
purchase_count3["Average Purchase Price"] = average_purchace_price_4
purchase_count3["Total Purchase Value"] = total_purchase_value3
purchase_count3 = purchase_count3.sort_values(by="Age", ascending=False)
purchase_count3 = purchase_count3.rename(columns={"Age": "Purchase Count"})
purchase_count3 = purchase_count3.head(5)
purchase_count3 = purchase_count3.style.format(format_dict2)
purchase_count3

In [15]:
total_players8 = fantasy_df
total_players8 = total_players8.groupby(by=["Item ID", "Item Name"])
purchase_count4 = total_players8[["Age"]].count()
total_purchase_value4 = total_players8.sum()
total_purchase_value4 = total_purchase_value4[["Price"]]
average_purchace_price_5 = total_players7.mean()
average_purchace_price_5 = average_purchace_price_5[["Price"]]
purchase_count4["Average Purchase Price"] = average_purchace_price_5
purchase_count4["Total Purchase Value"] = total_purchase_value4
purchase_count4 = purchase_count4.sort_values(by="Total Purchase Value",
                                              ascending=False)
purchase_count4 = purchase_count4.rename(columns={"Age": "Purchase Count"})
purchase_count4 = purchase_count4.head(5)
purchase_count4 = purchase_count4.style.format(format_dict2)
purchase_count4